@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,100&subset=latin,cyrillic);

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper > header div {
    display: inline-block;
}

.profilePic img {
    height: 65px;
    width: 65px;
}

.singlePost {
    padding: 15px;
    border: 1px solid #adadad;
    margin-bottom: 15px;
}

.authorPic img {
    height: 30px;
    width: 30px;
}

.singlePost .authorName {
    font-size: 1.2em;
    font-weight: bold;
}

.singlePost > header {
    margin-bottom: 15px;
}

.userWall > header {
    margin-bottom: 15px;
}

.userWall > header img {
    max-height: 150px;
}

aside {
    border: 1px solid #adadad;
}

.friendRequestsDataOpen {
    position: relative;
}

.friendRequests .visible {
    display: block!important;
    position: absolute;
    width: 350px;
    z-index: 9999;
    background-color: #adadad;
}

.friendRequests .visible > div {
    width: 100%;
}

.friendRequest {
    padding: 5px;
    border-bottom: 1px solid white;

    margin-bottom: 5px;
}

.comments {
    margin-top: 5px;
}

.comment {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #adadad;
}

.addCommentBox {
    margin-top: 5px;
}