<div ng-init="loadNewsFeed()">
    <div ng-if="newsFeedData">
        <div class="singlePost" ng-repeat="post in newsFeedData" data-id="{{post.id}}">
            <header class="row">
                <div class="col-md-12">
                    <div class="authorPic pull-left">
                        <img class="img-responsive img-circle" ng-src="{{post.author.profileImageData}}" alt="author.profileImg" />
                    </div>
                    <div class="authorName pull-left">
                        <a href="#/user/{{post.author.username}}" >{{post.author.name}}</a>
                    </div>
                    <span class="pull-right">{{post.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                </div>
            </header>
            <div class="postContent">
                <blockquote>
                    {{post.postContent}}
                </blockquote>
            </div>
            <footer class="text-right">
                <span class="glyphicon glyphicon-thumbs-up">
                    {{post.likesCount}}
                </span>
                <span ng-if="post.liked">
                    <button class="btn btn-default">Unlike</button>
                </span>
                <span ng-if="!post.liked">
                    <button class="btn btn-default">Like</button>
                </span>
                <span>
                    Comments: {{post.totalCommentsCount}}
                </span>
                <span>
                    <button class="btn btn-default">Comment</button>
                </span>
                <div class="comments text-left" ng-if="post.totalCommentsCount > 0">
                    <ul class="media-list" ng-repeat="comment in post.comments">
                        <li class="media comment">
                            <div class="media-left">
                                <a href="#/user/{{comment.author.username}}">
                                    <img class="media-object img-responsive img-circle" ng-src="{{comment.author.profileImageData}}" alt="comment author pic">

                                    <span>{{comment.author.name}}</span>
                                </a>
                            </div>
                            <div class="media-body">
                                <p>{{comment.commentContent}}</p>
                            </div>
                            <footer>
                                <span class="pull-right">{{comment.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <div ng-if="!newsFeedData">Nema postove, bace.</div>
</div>