<div ng-init="loadNewsFeed()">
    <div ng-if="newsFeedData">
        <div class="singlePost" ng-repeat="post in newsFeedData" data-id="{{post.id}}">
            <header class="row">
                <div class="col-md-12">
                    <div class="authorPic pull-left">
                        <img class="img-responsive img-circle" ng-src="{{post.author.profileImageData}}" alt="author.profileImg" />
                    </div>
                    <div class="authorName pull-left">
                        {{post.author.name}}
                    </div>
                    <span class="pull-right">{{post.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                </div>
            </header>
            <div class="postContent">
                <blockquote>
                    {{post.postContent}}
                </blockquote>
            </div>
            <footer class="text-right">
                <span ng-if="post.likesCount > 0">
                    {{post.likesCount}}
                </span>
                <span ng-if="post.liked">
                    <button class="btn btn-default">Unlike</button>
                </span>
                <span ng-if="!post.liked">
                    <button class="btn btn-default">Like</button>
                </span>
                <span>
                    <button class="btn btn-default">Comment</button>
                </span>
            </footer>
        </div>
    </div>

    <div ng-if="!newsFeedData">Nema postove, bace.</div>
</div>