<div class="profilePic">
    <img ng-src="{{profileImageData}}" alt="profile pic" />
</div>
<div class="name" ng-if="name">
    {{name}}
</div>
<div class="friendRequests" ng-init="loadFriendRequests()"><span class="btn btn-default">Friends</span>
    <div ng-if="FriendRequestsData">
        <div ng-repeat="request in FriendRequestsData">
            From: {{request.user.name}}
            <button ng-click="acceptFriendRequest(request.id)">Accept</button>
            <button ng-click="rejectFriendRequest(request.id)">Reject</button>
        </div>
    </div>
</div>
<a class="btn btn-default" href="#/user/edit">Edit profile</a>
<a class="btn btn-default" href="#/user/changepass">Change password</a>
<button class="btn btn-default" ng-click="logout()">Logout</button>