<header  class="navbar navbar-default">
    <div user-header class="col-md-8 col-sm-12"></div>
    <div search-users class="col-md-4 col-sm-12"></div>
</header>
<main class="container userWall">
    <header class="col-md-12 col-sm-12" ng-init="loadWallOwnerData()">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive img-thumbnail" ng-src="{{wallOwnerData.profileImageData}}" alt="profileImage" />
            </div>
            <div class="col-md-9">
                <h1>{{wallOwnerData.name}}</h1>
                <div ng-if="wallOwnerData.isFriend" class="btn btn-primary">Friend</div>
                <div ng-if="!wallOwnerData.isFriend && !wallOwnerData.isWallOwner && !wallOwnerData.hasPendingRequest" class="btn btn-primary" ng-click="sendFriendRequest()">Send friend request</div>
                <div ng-if="wallOwnerData.hasPendingRequest" class="btn btn-primary">Friend request pending</div>
            </div>
        </div>
    </header>
    <section class="col-md-8" ng-init="loadUserWallData()">
        <div ng-if="userWallData">
            <div class="singlePost" ng-repeat="post in userWallData" data-id="{{post.id}}">
                <header class="row">
                    <div class="col-md-12">
                        <div class="authorPic pull-left">
                            <img class="img-responsive img-circle" ng-src="{{post.author.profileImageData}}" alt="author.profileImg" />
                        </div>
                        <div class="authorName pull-left">
                            <a href="#/user/{{post.author.username}}" >{{post.author.name}}</a>
                        </div>
                        <span class="pull-right">{{post.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                    </div>
                </header>
                <div class="postContent">
                    <blockquote>
                        {{post.postContent}}
                    </blockquote>
                </div>
                <footer class="text-right">
                    <span class="glyphicon glyphicon-thumbs-up">
                        {{post.likesCount}}
                    </span>
                    <span ng-if="post.liked">
                        <button class="btn btn-default">Unlike</button>
                    </span>
                    <span ng-if="!post.liked">
                        <button class="btn btn-default">Like</button>
                    </span>
                    <span>
                        Comments: {{post.totalCommentsCount}}
                    </span>
                    <span>
                        <button class="btn btn-default">Comment</button>
                    </span>
                    <div class="comments text-left" ng-if="post.totalCommentsCount > 0">
                        <ul class="media-list" ng-repeat="comment in post.comments">
                            <li class="media comment">
                                <div class="media-left">
                                    <a href="#/user/{{comment.author.username}}">
                                        <img class="media-object img-responsive img-circle" ng-src="{{comment.author.profileImageData}}" alt="comment author pic">

                                        <span>{{comment.author.name}}</span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>{{comment.commentContent}}</p>
                                </div>
                                <footer>
                                    <span class="pull-right">{{comment.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                </footer>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>

        <div ng-if="!userWallData">Nema postove, bace.</div>
    </section>
    <aside class="col-md-4" ng-if="wallOwnerData.isFriend">
        <postComment></postComment>
        <div class="row">
            <div class="friendsContainer col-md-12" ng-init="loadFriendsFriendList()">
                <h3>Friends <a href="">( {{friendsFriendListData.totalCount}} )</a></h3>
                <div class="row" ng-if="friendsFriendListData">
                    <div class="singleFriend col-md-4" ng-repeat="friend in friendsFriendListData.friends">
                        <a href="#/user/{{friend.username}}">
                            <img ng-src="{{friend.profileImageData}}" alt="{{friend.username}} picture" class="img-responsive img-thumbnail" />
                            <div>{{friend.name}}</div>
                        </a>
                    </div>
                </div>

                <div ng-if="!friendsFriendListData">Nema nikoi, bace.</div>
            </div>
        </div>
    </aside>
</main>