<div class="profilePic">
    <img class="img-circle" ng-src="{{profileImageData}}" alt="profile pic" />
</div>
<div class="name" ng-if="name">
    {{name}}
</div>
<div class="homeBtn">
    <a class="btn btn-default glyphicon glyphicon-home" href="#/user/home"></a>
</div>
<div class="friendRequests" ng-init="loadFriendRequests()"><span class="btn btn-default glyphicon glyphicon-user"></span>
    <div ng-if="FriendRequestsData">
        <div ng-repeat="request in FriendRequestsData">
            From: {{request.user.name}}
            <button ng-click="acceptFriendRequest(request.id)">Accept</button>
            <button ng-click="rejectFriendRequest(request.id)">Reject</button>
        </div>
    </div>
</div>
<a class="btn btn-default glyphicon glyphicon-cog" href="#/user/edit"></a>
<a class="btn btn-default" href="#/user/changepass">Change password</a>
<button class="btn btn-default" ng-click="logout()">Logout</button>