<div class="profilePic">
    <img class="img-circle" ng-src="{{profileImageData}}" alt="profile pic" />
</div>
<div class="name" ng-if="name">
    {{name}}
</div>
<div class="homeBtn">
    <a class="btn btn-default glyphicon glyphicon-home" href="#/user/home"></a>
</div>
<script>
    $('span.friendRequests').on('click', function() {
        var isHidden = $('.friendRequestsData').hasClass('hidden');
        if(isHidden) {
            $('.friendRequestsData').removeClass('hidden').addClass('visible');
            $('div.friendRequests').addClass('friendRequestsDataOpen');
        }
        else {
            $('.friendRequestsData').removeClass('visible').addClass('hidden');
            $('span.friendRequests').addClass('friendRequestsDataOpen');
        }
    })
</script>
<div class="friendRequests" ng-init="loadFriendRequests()"><span class="friendRequests btn btn-default glyphicon glyphicon-user"><span>{{FriendRequestsData.length}}</span></span>
    <div ng-if="FriendRequestsData" class="friendRequestsData hidden">
        <div ng-repeat="request in FriendRequestsData" class="friendRequest">
            <div class="col-md-4">
                <img ng-src="{{request.user.profileImageData}}" class="img-responsive">
            </div>
            <a href="#/user/{{request.user.username}}">{{request.user.name}}</a>
            <button ng-click="acceptFriendRequest(request.id)">Accept</button>
            <button ng-click="rejectFriendRequest(request.id)">Reject</button>
        </div>
    </div>
</div>
<a class="btn btn-default glyphicon glyphicon-cog" href="#/user/edit"></a>
<a class="btn btn-default" href="#/user/changepass">Change password</a>
<button class="btn btn-default glyphicon glyphicon-log-out" ng-click="logout()"></button>