<form>
    <input type="text" id="username" ng-model="registerData.username" />
    <br />
    <input type="text" id="password" ng-model="registerData.password" />
    <br />
    <input type="text" id="confirmPassword" ng-model="registerData.confirmPassword" />
    <br />
    <input type="text" id="name" ng-model="registerData.name" />
    <br />
    <input type="text" id="email" ng-model="registerData.email" />
    <br />
    <input type="text" id="gender" ng-model="registerData.gender" />
    <br />
    <button ng-click="register()">Submit</button>
</form>